﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!--css starts-->
    <!-- Datatable css -->
    <link rel="stylesheet" type="text/css" href="../Content/datatable/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../Content/datatable/responsive.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../Content/datatable/responsive.bootstrap.min.css" />
    <!-- Custome scroll bar for side bar -->
    <link rel="stylesheet" type="text/css" href="../Content/jquery.mCustomScrollbar.css" />
    <!-- styles css -->
    <link rel="stylesheet" href="../Content/styles.css" type="text/css" />
    <!--css ends-->

    <!--Script starts-->
    <!-- Jquery js -->
    <script src="../Scripts/jquery-2.2.1.min.js"></script>
    <!-- <script src="js/less-min.js"></script> -->
    <!-- Bootstrap js -->
    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
    <!-- Datatable js -->
    <script type="text/javascript" src="../Scripts/datatable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../Scripts/datatable/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="../Scripts/datatable/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="../Scripts/datatable/responsive.bootstrap.min.js"></script>
    <!-- Custome scroll bar for side bar -->
    <script type="text/javascript" src="../Scripts/jquery.mCustomScrollbar.min.js"></script>
    <!-- Charts  -->
    <script src="../Scripts/Chart.min.js"></script>
    <script src="../Scripts/Chart.HorizontalBar.js"></script>
    <script src="../Scripts/chartData.js"></script>
    <!-- Validator  -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <!-- Chosen -->
    <script src="../Scripts/chosen.jquery.min.js"></script>
    <!-- Modernizr -->
    <script type="text/javascript" src="../Scripts/modernizr.js"></script>
    <!-- Cutome designer js -->
    <script src="../Scripts/general-designer.js"></script>
    <!---->
    <!--Script ends-->

</head>
<body>
    <!-- Header Starts -->
    <header>
        <!-- Navbar Starts -->
        <nav id="navbar-main" class="navbar col-xs-12">
            <div class="row">
                <div class="col-sm-5 col-md-4 col-xs-4">
                    <div class="brand-logo">
                        <a href="dashboard.html" title="HRIMS">
                            <img src="../images/logo-blue.png" alt="HRIMS Logo" title="Logo">
                        </a>
                        <div class="selector-button-menu fa fa-bars hidden-xs"></div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-8 col-xs-8">
                    <div class="navbar-right">
                        <div id="navbar" class="navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="javascript:void(0)" title="Alert">
                                        <div class="header-icon">
                                            <i class="fa fa-calendar fa-2x"></i>
                                            <!--    <span class="badge-danger alert-count badge">12</span> -->
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title="Alert">
                                        <div class="header-icon">
                                            <i class="fa fa-globe fa-2x"></i>
                                            <span class="badge-danger alert-count badge">12</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title="Alert">
                                        <div class="header-icon">
                                            <i class="fa fa-bell fa-2x"></i>
                                            <!--    <span class="badge-danger alert-count badge">12</span> -->
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown hidden-xs">
                                    <a aria-expanded="false" title="User" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                                        <img alt="" src="../images/1_Photo.png" class="img-circle img-responsive profile-thumb img-thumbnail">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)" title="User Profile"><i class="fa fa-user"></i>User Profile</a></li>
                                        <li class="divider" role="separator"></li>
                                        <li>
                                            <a href="login_page.html" title="Log Out"><i class="fa fa-power-off text-danger"></i>Log Out</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="selector-button-mobile-nav">
                                    <a class="visible-xs selector-button-menu fa fa-bars" href="javascript:void(0)" title="Menu"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar Ends -->
    </header>
    <!-- Header Ends -->
    <!-- Sidebar Starts -->
    <div class="side-bar-container">
        <aside class="page-sidebar ">
            <div class="custom-scroll">
                <div id="cssmenu1" class="user-profile cssmenu1 visible-xs">
                    <ul>
                        <li class="active has-sub">
                            <a href="javascript:void(0);" title="Employee">
                                <img id="imgEmployee" class="img-circle mCS_img_loaded" alt="" src="../images/1_Photo.png">
                                <span>
                                    Mukesh Chandrakant Gajjar
                                </span><i class="glyphicon glyphicon-chevron-down pull-right"></i>
                            </a>
                            <div class="clearfix"></div>
                            <ul class="profilemenu">
                                <li role="presentation"><a class="clsProfile menuclick UserProfile" title="User Profile"><i class="fa fa-user"></i>User Profile</a></li>
                                <li role="presentation">
                                    <a title="Log Out" href="login_page.html"><i class="fa fa-power-off"></i>Log Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <nav class="main-menu">
                    <div id="cssmenu" class="cssmenu">
                        <div class="dxmLite dxm-ltr">
                            <div class="dxm-main dxm-horizontal" id="UcMenu1_adminMenu">
                                <ul class="dx dxm-image-l dxm-noImages">
                                    <li class="dxm-item dxm-tmpl">
                                        <a href="javascript:void(0)" class="haschild Manage" title="Dashboard"><i class="fa fa-dashboard"></i><span>Dashboard</span><span class="caret-1"></span></a>
                                        <ul>
                                            <li><a class="" href="dashboard.html" title="HR"><span>HR</span></a></li>
                                            <li><a class="" href="dashboard_employee.html" title="Employee"><span>Employee</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="dxm-item dxm-tmpl">
                                        <a href="javascript:void(0)" class="haschild Manage" title="Performance Management System"><i class="fa fa-user"></i><span>PMS</span><span class="caret-1"></span></a>
                                        <ul>
                                            <li><a class="" href="kra_definition.html" title="KRA Dashboard"><span>KRA & KPI Definition</span></a></li>
                                            <li><a class="" href="kra_template_definition.html" title="KRA Assignment"><span>KRA Template Definition</span></a></li>
                                            <li><a class="" href="my_kra_employee.html" title="Search Employee KRAs"><span>My KRA</span></a></li>
                                            <li><a class="" href="my_subordinates_kra.html" title="Search Employee KRAs"><span>My Subordinates KRA</span></a></li>
                                            <li><a class="" href="add_comments.html" title=""><span>Add Comments</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="dxm-item dxm-tmpl">
                                        <a href="javascript:void(0)" class="haschild Manage" title="Policies"><i class="fa fa-book"></i><span>Policies</span><span class="caret-1"></span></a>
                                        <ul>
                                            <li><a class="" href="hr_policies.html" title="Hr-Policies"><span>Hr-Policies</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="dxm-item dxm-tmpl">
                                        <a href="javascript:void(0)" class="haschild Manage" title="Leave"><i class="fa fa-code-fork"></i><span>Leave</span><span class="caret-1"></span></a>
                                        <ul>
                                            <li><a class="" href="leave_category.html" title="Leave category"><span>Leave category</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="dxm-item dxm-tmpl ">
                                        <a href="javascript:void(0)" class="haschild Manage " title="Reports"><i class="fa fa-bar-chart"></i><span>Reports</span><span class="caret-1"></span></a>
                                        <ul>
                                            <li><a class="" href="reports_organization.html" title="Organizational chart"><span>Organizational chart</span></a></li>
                                            <li><a class="" href="reports_headcount.html" title="Headcount"><span>Headcount</span></a></li>
                                            <li><a class="" href="reports_employee_profile.html" title="Employee profile"><span>Employee profile </span></a></li>
                                            <li><a class="" href="reports_leave.html" title="Leave reports"><span>Leave reports </span></a></li>
                                            <li><a class="" href="reports_training_basic.html" title="Training reports"><span>Training reports</span></a></li>
                                            <li><a class="" href="reports_timesheet.html" title="Timesheet reports"><span>Timesheet reports</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!--  active -> active -> activeMenuItem -->
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!--Copyright section start-->
            <footer>
                <div class="col-sm-12"><span class="copy-right-c">©</span><span class="copy-right-section">© 2016, Cygnet Infotech,<br> All Rights Reserved</span></div>
            </footer>
            <!--Copyright section end-->
        </aside>
    </div>
    <!-- Sidebar Ends -->
    <!-- Innerpage Starts -->
    <div class="innerpage-wrap container-wrap">
        <div class="dashboard inner-page-content container-fluid dashboard-hr">
            <!--loader start-->
            <div class="loader-wrapper">
                <div class="loader"></div>
            </div>
          
            <div class="container body-content">
                @RenderBody()
               
            </div>


            <!-- Floating tools Starts -->
            <div class="floating-button">
                <a data-toggle="tooltip" data-placement="left" title="Tools" class="ripple btn-floating-main bg-primary text-center"><i class="fa fa-star-o"></i></a>
                <div class="sub-floating-button">
                    <div class="btn-floating-wrap">
                        <a data-toggle="tooltip" data-placement="left" title="Calendar" class="ripple btn-floating  brand-danger fa fa-calendar text-center"></a>
                    </div>
                    <div class="btn-floating-wrap">
                        <a data-toggle="tooltip" data-placement="left" title="Timesheet" class="ripple btn-floating  brand-warning  fa fa-clock-o text-center"></a>
                    </div>
                    <div class="btn-floating-wrap">
                        <a data-toggle="tooltip" data-placement="left" title="Alert" class="ripple btn-floating  brand-success fa fa-bell text-center"></a>
                    </div>
                </div>
            </div>
            <!-- Floating tools Ends -->
            <div class="clearfix">
            </div>
            <div class="popup-bg">
            </div>
        </div>
    </div>
    <!-- Innerpage Ends -->
</body>

</html>
