﻿
@{
    Layout = "~/Areas/KRA/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Test View.
    </div>
</body>
</html>
