/********************** basic******************************/

.brand-secondary {
    background: @brand-secondary;
}

.brand-success {
    background: @brand-success;
}

.brand-info {
    background: @brand-info;
}

.brand-warning {
    background: @brand-warning;
}

.brand-danger {
    background: @brand-danger;
}

.margin-top-15 {
    margin-top: @margin-top-15;
}

.margin-top-50 {
    margin-top: @margin-top-15 + 35px;
}

.padding-top-50 {
    padding-top: @padding-top-15 + 35px;
}

.margin-right-15 {
    margin-right: @margin-right-15;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.ripple {
    overflow: hidden;
}

body {
    background: @body-bg-color
}


/**************************************************************************************
loader
**************************************************************************************/

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1006;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    .loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #314B70;
        -webkit-animation: spin 2s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
    }
    .loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #273C5A;
        -webkit-animation: spin 3s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
    }
    .loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #7B8BA3;
        -webkit-animation: spin 1.5s linear infinite;
        /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite;
        /* Chrome, Firefox 16+, IE 10+, Opera */
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}


/**************************************************************************************
Login page
**************************************************************************************/

.login-page {
    background: url(../images/login-bg.jpg) no-repeat top center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-size: cover;
}

.login-wrapper {
    display: block;
    float: left;
    width: 100%;
    font-family: @font-family-Roboto;
}

.logo {
    padding-top: 73px
}

.quote {
    color: @login-text-color;
    padding-top: 30%;
    font-size: 2.1em;
    font-style: italic;
    padding-left: 20px;
    float: left;
    width: 100%;
    article {
        .quote-icon.icon-start {
            padding-right: 5px;
        }
        .quote-icon {
            bottom: 5px;
            position: relative;
            display: inline;
        }
        .quote-icon.icon-end {
            padding-left: 5px;
        }
    }
    span {
        float: left;
        width: 89%
    }
    blockquote {
        border-left: none;
        float: right;
        color: #33b5e4;
        font-size: @text-size
    }
}

.login-links {
    background: rgba(0, 0, 0, 0.5);
    float: right;
    padding: 5%;
}

.login-box {
    background: rgba(79, 79, 80, 0.2);
    border: 1px solid #4f4f50;
    margin: 35% auto 0;
    padding: 10% 10% 25% 10%;
    width: 80%;
    input {
        border-color: -moz-use-text-color -moz-use-text-color #8d8d8d;
        border-style: none none solid;
        border-width: medium medium 1px;
        color: #000;
        font-size: 16px;
        padding: 17px 26px;
        width: 100%;
        margin-bottom: 28px;
        -moz-box-shadow: 0 2px 2px #000 inset;
        -webkit-box-shadow: 0 2px 2px #000 inset;
        box-shadow: 0 2px 2px #000 inset;
        background: #e3e3e3;
        &:focus {
            border-color: -moz-use-text-color -moz-use-text-color #33B5E4;
            border-color: #33B5E4;
            border-style: none none solid;
            border-width: medium medium 2px;
            padding-bottom: 16px;
            outline: medium none;
        }
    }
    .login-text {
        border-bottom: medium none;
        color: #ffffff;
        font-size: 32px;
        margin-bottom: 35px;
        width: 100%;
    }
    button {
        border-style: none;
    }
    .login-btn {
        text-align: center;
        .transition(0.3s linear all);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: #fff;
        font-size: 20px;
        background: #0b6a8d;
        padding: 12px 0;
        text-decoration: none;
        width: 48%;
        &:hover {
            background: #33b5e4;
            text-decoration: none;
        }
    }
    .cancel-btn {
        margin-left: 8px;
    }
    .forgot-password {
        color: #929292;
        float: left;
        font-size: 19px;
        margin-top: 16px;
        a {
            color: #929292
        }
    }
}

.copy-right {
    bottom: 0;
    padding: 20px 0;
    position: absolute;
    right: 100%;
    font-size: 19px;
    color: #fff;
    white-space: nowrap;
}


/**************** leavecategory page *************************/

.inner-page-content {
    padding-bottom:@page-content;    
    position: relative;
    overflow: hidden;
}


/******************* buttons **************************/

.btn-no-fill {
    .button-variant(@btn-no-color;
    @btn-no-bg;
    @btn-no-border);
    padding: 0;
    &:active,
    &.active {
        outline: 0;
        background-image: none;
        .box-shadow(none);
    }
}

.btn-lightskyBlue {
    .button-variant(@btn-lightskyBlue-color;
    @btn-lightskyBlue-bg;
    @btn-lightskyBlue-border);
}

.btn-aqua {
    .button-variant(@btn-aqua-color;
    @btn-aqua-bg;
    @btn-aqua-border);
}

.btn-lightcoral {
    .button-variant(@btn-lightcoral-color;
    @btn-lightcoral-bg;
    @btn-lightcoral-border);
}

.btn-lightgreen {
    .button-variant(@btn-lightgreen-color;
    @btn-lightgreen-bg;
    @btn-lightgreen-border);
}

.btn-alpha-base {
    .button-variant(@btn-alpha-base-color;
    @btn-alpha-base-bg;
    @btn-alpha-base-border);
}

.btn-alpha-light {
    .button-variant(@btn-alpha-base-color;
    fade(@btn-alpha-base-bg , 10%);
    fade(@btn-alpha-base-border , 5%));
}

.btn-gold {
    .button-variant(@btn-gold-color;
    @btn-gold-bg;
    @btn-gold-border);
}

.btn-hotpink {
    .button-variant(@btn-hotpink-color;
    @btn-hotpink-bg;
    @btn-hotpink-border);
}

.btn-purple {
    .button-variant(@btn-purple-color;
    @btn-purple-bg;
    @btn-purple-border);
}

.btn-turquoise {
    .button-variant(@btn-turquoise-color;
    @btn-turquoise-bg;
    @btn-turquoise-border);
}

.btn:hover,
.btn:focus,
.btn.focus {
    outline: none!important;
}

.btn {
    i {
        &.fa {
            margin-right: 5px;
        }
    }
}

// Link buttons
// -------------------------
// Make a button look and behave like a link
.btn-link {
    color: @link-color;
    font-weight: normal;
    padding: 5px;
    border-radius: 0;
    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        .box-shadow(none);
    }
    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
        outline: none;
    }
    &:hover,
    &:focus {
        color: @brand-secondary;
        text-decoration: none;
        background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {
            color: @btn-link-disabled-color;
            text-decoration: none;
        }
    }
}

// Page header
// -------------------------
.page-header {
    padding-bottom: ((@line-height-computed / 2) - 1);
    margin: 0 0 @line-height-computed;
    border-bottom: 1px solid @page-header-border-color;
    border-top: 1px solid @page-header-border-color;
    padding: 10px 0px 10px;
    background-color: @page-header-bg-color!important;
    a {
        font-family: @headings-font-family;
    }
}


/*************************** model *********************************/

// Actual modal
.modal-content {
    position: relative;
    background-color: @modal-content-bg;
    border: 1px solid @modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
    border: 1px solid @modal-content-border-color;
    border-radius: @border-radius-small;
    .box-shadow(0 3px 9px rgba(0, 0, 0, .5));
    background-clip: padding-box; // Remove focus outline from opened modal
    outline: 0;
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
    padding: 0;
    background-color: @brand-primary;
    border-bottom: 1px solid @modal-header-border-color;
    &:extend(.clearfix all);
}

// Scale up the modal
@media (min-width:@screen-sm-min) {
    // Modal sizes
    .modal-xs {
        width: @modal-xs;
    }
}

//
// Close icons
// --------------------------------------------------
.modal-header .close {
    padding: @modal-title-padding;
    float: right;
    margin-top: 0px;
    background: @brand-secondary;
    font-size: (@font-size-base * 1.5);
    font-weight: normal;
    line-height: 1;
    color: @modal-title-color;
    text-shadow: @close-text-shadow;
    .opacity(1);
    &:hover,
    &:focus {
        color: @modal-title-color;
        text-decoration: none;
        cursor: pointer;
        .opacity(.8);
    }
    button& {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
    }
}

// Title text within header
.modal-title {
    margin: @modal-title-margin;
    line-height: @modal-title-line-height;
    color: @modal-title-color;
    font-family: @model-headings-font-family;
}

// Modal body
.modal-body {
    position: relative;
    padding: @modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
    padding: @modal-inner-padding;
    text-align: right; // right align buttons
    border-top: 1px solid @modal-footer-border-color;
    &:extend(.clearfix all);
    .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0;
        .btn-group .btn + .btn {
            margin-left: -1px;
        }
        .btn-block + .btn-block {
            margin-left: 0;
        }
    }
}


/********************* Breadcrumbs *********************/

.breadcrumb {
    padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
    margin-bottom: @line-height-computed;
    list-style: none;
    background-color: @breadcrumb-bg;
    border-radius: 0;
    > li {
        display: inline-block;
        font-size: (@font-size-base + 2);
        + li:before {
            content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: @breadcrumb-color;
        }
        a {
            color: @brand-primary;
        }
    }
    > .active {
        color: @breadcrumb-active-color;
    }
    i {
        font-size: 20px;
        margin-right: 5px;
    }
}


/********************** table ******************/

.table.dataTable {
    th {
        font-size: @font-size-base + 2;
        border-bottom: 0;
        //border-top: 1px solid @table-border-color;
    }
    tbody {
        border-bottom: 1px solid @table-border-color;
    }
    > thead > tr:first-child {
        > th {
            border-top: 1px solid @table-border-color;
        }
    }
}

div.dataTables_wrapper div.dataTables_info {
    padding-bottom: 8px;
}

.status-icon {
    font-size: 20px;
    color: #314b70;
}

// div.dataTables_wrapper div.dataTables_paginate {
//     top: -1px;
//     position: relative;
//     padding-right: 15px;
// }
.jump-wrap {
    display: block;
    margin: 0;
    padding: 0;
    float: none;
    padding-left: 15px;
    .tooltip {
        white-space: nowrap;
    }
}

.paggin-wrap {
    top: -1px;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}


/******************** checkbox-redio-button ***********************/

.checkbox,
.radio {
    display: inline-block;
    margin: 0 15px 0 0;
}

.checkbox label::after,
.checkbox label::before {
    top: 1px !important;
}

.has-error .checkbox {
    label {
        &::before {
            border: 1px solid @brand-danger;
        }
    }
}

.has-error .radio {
    label {
        &::before {
            border: 1px solid @brand-danger;
        }
    }
}


/************************ forms  ***************************/

label {
    display: inline-block;
    max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
    margin-bottom: 5px;
    font-weight: 500;
    font-size: (@font-size-base);
    color: @form-label-color;
}

.form-control {
    display: block;
    width: 100%;
    height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: @padding-base-vertical @padding-base-horizontal;
    font-size: (@font-size-base);
    line-height: @line-height-base;
    color: @input-color;
    background-color: @input-bg;
    background-image: none; // Reset unusual Firefox-on-Android default style;see https://github.com/necolas/normalize.css/issues/214
    border: 1px solid @input-border;
    border-radius: @input-border-radius; // Note:This has no effect on <select>s in some browsers,due to the limited stylability of <select>s in CSS.
    .box-shadow(inset 0 0 0 rgba(255, 255, 255, 0));
    .transition(~"border-color ease-in-out .15s,box-shadow ease-in-out .15s"); // Customize the `:focus` state to imitate native WebKit styles.
    .form-control-focus(); // Placeholder
    .placeholder();
    &::-ms-expand {
        border: 0;
        background-color: transparent;
    }
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        background-color: @input-bg-disabled;
        opacity: 1; // iOS fix for unreadable disabled content;see https://github.com/twbs/bootstrap/issues/11655}
        &[disabled],
        fieldset[disabled] & {
            cursor: @cursor-disabled;
        }
        // Reset height for `textarea`s
        textarea& {
            height: auto;
        }
    }
}

.form-control-focus(@color: @input-border-focus) {
    @color-rgba: rgba(red(@color), green(@color), blue(@color), .6);
    &:focus {
        border-color: @color;
        outline: 0;
        .box-shadow(inset 0 0 0 rgba(255, 255, 255, 0));
    }
}

.form-control-feedback {
    right: 15px;
}

.help-block {
    margin-bottom: 0px;
}

#page-jump .tooltip {
    white-space: nowrap;
}

.form-inline {
    .control-label {
        margin-top: 5px;
    }
    .radio,
    .checkbox {
        display: inline-block;
        margin-top: 4px;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .form-group {
        display: block;
    }
}

.form-panel {
    .form-horizontal {
        .form-group {
            margin: 0;
        }
    }
}


/************************* chosen-select*********************************/

.chosen-container {
    width: 100% !important;
}

.chosen-container .chzn-drop {
    width: 100% !important;
}

.chosen-container .chzn-drop .chzn-search {
    width: 99% !important;
}

.chosen-container .chzn-drop .chzn-search input {
    width: 98% !important;
}


/********************** header**************************/

header {
    background-color: @header-bg-color;
}

#navbar-main {
    background: @brand-primary none repeat scroll 0 0;
    //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    color: rgba(49, 53, 52, 0.6);
    z-index: 1005;
    border-radius: 0;
    position: fixed;
}

.alert-count {
    position: absolute;
    right: -1px;
    top: 4px;
}

.header-logo {
    text-align: left;
    margin-top: 5px;
}

.brand-logo {
    padding: 13px 0;
}

.header-icon {
    padding: 12px 0;
}

.navbar-nav > li > a {
    color: #fff;
}

.profile-thumb {
    width: 50px;
    height: 50px;
    padding: 2px;
}

.navbar-nav li a .fa-2x {
    font-size: 1.7em;
}

.navbar-nav > li > a {
    padding: 5px 10px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background: none;
}

.dropdown-menu li a i {
    padding-right: 20px;
}

.side-menu-container {
    top: 0;
    left: -300px;
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 300px;
    transition: all 0.6s ease 0s;
}

.selector-button-menu {
    cursor: pointer;
    text-align: center;
    padding: 10px 10px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    &:before {
        color: #d2d8e1;
        cursor: pointer;
        font-family: fontawesome;
        font-size: 14px;
        text-align: center;
        margin-left: 0px;
    }
    &:hover {
        background: rgba(0, 0, 0, 0.40) !important;
    }
}

.side-menu-container.visable {
    left: 0;
}

.close-menu {
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 40px;
    margin: 5px;
    cursor: pointer;
}

.close-menu-wrap {
    text-align: right;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: @brand-secondary;
    border-color: @brand-primary;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 2px;
}

.page-sidebar .custom-scroll {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 106px;
}


/******************** progerss bar **************************/

// Outer container
.progress {
    overflow: hidden;
    height: @line-height-computed;
    margin-bottom: @line-height-computed + 20;
    background-color: @progress-bg;
    border-radius: @progress-border-radius;
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, .1));
}


/******************** progress form ********************/

.staped-form {
    // padding-bottom: @padding-large-horizontal;
    font-weight: bold;
    font-size: (@font-size-base);
    .steps.visited {
        cursor: pointer;
    }
    .steps {
        .step-number {
            border-radius: 50px;
            color: #fff;
            width: 30px;
            height: 30px;
            margin: 5px 0px;
            text-align: center;
            line-height: 30px;
            display: inline-block;
            background: @gray-lighter;
        }
        .step-name {
            display: inline;
            color: @gray-lighter;
            white-space: nowrap;
        }
        &.active {
            .step-number {
                background: @brand-primary;
            }
            .step-name {
                color: @brand-primary;
            }
        }
        &.visited {
            .step-number {
                background: @gray;
            }
            .step-name {
                color: @gray;
            }
        }
    }
}

.step-content {
    display: none;
    &.active {
        display: block;
    }
}


/******************** panels ***********************/

.panel {
    margin-bottom: (@line-height-computed + 10);
    background-color: @panel-bg;
    border: 1px solid transparent;
    border-radius: @panel-border-radius;
    .box-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
}

.panel-default {
    > .panel-heading {
        color: @panel-heading-color;
    }
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: (@font-size-base + 2);
    font-weight: 500;
    color: inherit;
    > a,
    > small,
    > .small,
    > small > a,
    > .small > a {
        color: inherit;
        &.btn-default {
            color: inherit;
        }
    }
    > .btn {
        color: #fff;
        i {
            margin-right: 5px;
        }
    }
    .btn-link {
        color: @link-color;
        font-size: (@font-size-base + 2);
        font-weight: 500;
        padding: 3px 0;
        border-radius: 0;
        &,
        &:active,
        &.active,
        &[disabled],
        fieldset[disabled] & {
            background-color: transparent;
            .box-shadow(none);
        }
        &,
        &:hover,
        &:focus,
        &:active {
            border-color: transparent;
            outline: none;
        }
        &:hover,
        &:focus {
            color: @brand-secondary;
            text-decoration: none;
            background-color: transparent;
        }
        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:focus {
                color: @btn-link-disabled-color;
                text-decoration: none;
            }
        }
    }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
    padding: @panel-footer-padding;
    background-color: @panel-default-footer-bg;
    border-top: none;
    .border-bottom-radius((@panel-border-radius - 1));
    .btn-link {
        color: @gray-light;
        font-size: (@font-size-base);
        font-weight: normal;
        padding: 3px 0;
        border-radius: 0;
        &,
        &:active,
        &.active,
        &[disabled],
        fieldset[disabled] & {
            background-color: transparent;
            .box-shadow(none);
        }
        &,
        &:hover,
        &:focus,
        &:active {
            border-color: transparent;
            outline: none;
        }
        &:hover,
        &:focus {
            color: @gray-light;
            text-decoration: underline;
            background-color: transparent;
        }
        &[disabled],
        fieldset[disabled] & {
            &:hover,
            &:focus {
                color: @btn-link-disabled-color;
                text-decoration: none;
            }
        }
    }
}

.panel-style-1 {
    .panel-variant(@panel-style-1-border;
    @panel-style-1-text;
    @panel-style-1-heading-bg;
    @panel-style-1-border);
}

.panel-style-1.panel {
    margin-bottom: @line-height-computed;
    background-color: @panel-style-1-heading-bg;
    border: 1px solid transparent;
    border-radius: @panel-border-radius;
    .box-shadow(0 0px 5px rgba(0, 0, 0, 0.2));
}

.panel-aqua {
    .panel-variant(transparent;
    @panel-aqua-dark-text;
    @panel-aqua-dark-bg;
    @panel-aqua-dark-bg);
    &.panel {
        background-color: @panel-aqua-bg;
        color: @panel-aqua-text;
        .dashboard-info-title li::after {
            background: @panel-aqua-text;
        }
    }
    .panel-footer {
        background-color: @panel-aqua-bg;
        .btn-link {
            color: @panel-aqua-text;
        }
    }
}

.panel-aqua-dark {
    .panel-variant(transparent;
    @panel-aqua-dark-text;
    @panel-aqua-dark-bg;
    @panel-aqua-dark-bg);
    &.panel {
        background-color: @panel-aqua-dark-bg;
        color: @panel-aqua-dark-text;
        .dashboard-info-title li::before {
            background: @panel-aqua-dark-text;
        }
    }
    .panel-footer {
        background-color: @panel-aqua-dark-bg;
        .btn-link {
            color: @panel-aqua-dark-text;
        }
    }
}

.panel-lightcoral-dark {
    .panel-variant(@panel-lightcoral-dark-bg;
    @panel-lightcoral-dark-text;
    @panel-lightcoral-dark-bg;
    @panel-lightcoral-dark-bg);
    &.panel {
        background-color: @panel-lightcoral-dark-bg;
        color: @panel-lightcoral-dark-text;
        .dashboard-info-title li::after {
            background: @panel-lightcoral-dark-text;
        }
    }
    .panel-footer {
        background-color: @panel-lightcoral-dark-bg;
        .btn-link {
            color: @panel-lightcoral-dark-text;
        }
    }
}


/******************** charts **********************/

.chart-doughnut {
    margin-top: 20px;
}

.a1.lagend {
    color: #F7464A
}

.a2.lagend {
    color: #46BFBD
}

.a3.lagend {
    color: #FDB45C
}

.a4.lagend {
    color: #468966
}

.a5.lagend {
    color: #348899
}

.a6.lagend {
    color: #332532
}

.chart-legend {
    text-align: center;
    margin-top: 15px;
    li {
        list-style: none;
        display: inline;
        margin: 15px;
    }
    span {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        border-radius: 12px;
    }
}


/******************** organization chart **********************/

.google-visualization-orgchart-table {
    border-collapse: initial;
    padding: 0;
}

.google-visualization-orgchart-node {
    border: 0!important;
    -moz-border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none;
    background-color: #fff!important;
    background: rgba(109, 74, 74, 0)!important;
}

.google-visualization-orgchart-lineleft {
    border-left: 2px solid #2BB4E8!important
}

.google-visualization-orgchart-linebottom {
    border-bottom: 2px solid #2BB4E8!important
}

.google-visualization-orgchart-lineright {
    border-right: 2px solid #2BB4E8!important
}

.google-visualization-orgchart-linenode {
    padding: 20px 5px!important;
}

.node-name {
    // text-align: left;
    font-size: 16px;
    line-height: 26px;
    padding: 5px 10px!important;
}

.node-desig {
    font-size: 12px;
    text-align: left;
    color: rgb(130, 130, 130);
}

.node-email {
    border-top: 1px solid #565656;
    text-align: left;
    font-size: 12px;
    padding: 5px 10px!important;
    line-height: 24px;
    white-space: nowrap;
}

.node-img {
    width: 95px;
    height: 95px;
    margin: 8px auto!important;
    border-radius: 60px;
    text-align: center;
    position: relative;
}

.node-img-ring {
    width: 115px;
    height: 115px;
    border-radius: 150px;
    background-size: cover;
    margin: 0 auto !important;
    position: relative;
    &:after {
        content: '';
        width: 115px;
        height: 115px;
        background: url("../images/node-ring-ring.png") no-repeat center center;
        position: absolute;
        left: 0;
        top: 0;
        transition-duration: 0.6s;
        transition-property: transform;
    }
}

.node-img img {
    max-width: 60px;
    border-radius: 60px;
}

.tree-node-wrap {
    padding: 0px 10px!important;
    top: -5px;
    position: relative;
    font-family: @font-family-base;
}

.node-table {
    cursor: pointer;
}

.node-table:hover .node-img-ring:after {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.org-chart-lead:before {
    content: '';
    width: 2px;
    height: 53px;
    background: rgb(43, 180, 232);
    position: absolute;
    left: 50%;
    top: -50px;
}

.org-connect {
    position: relative;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    top: 60px;
    cursor: pointer;
    border-radius: 50px;
    overflow: hidden;
    &:after {
        content: '';
        width: 50px;
        height: 50px;
        background: url("../images/node-ring-ring.png") no-repeat center center;
        background-size: 100%;
        transition-duration: 0.6s;
        transition-property: transform;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:hover:after {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    img {
        max-width: 100%;
        border: 4px solid rgb(255, 255, 255);
        border-radius: 100%;
    }
}


/******************* lead *************************/

.lead {
    &.node-img-ring {
        background: #ddd;
    }
    &.tree-node-wrap.lead {
        border-radius: 15px;
        border: 1px solid #ddd;
        overflow: hidden;
        padding: 0 !important;
    }
    .node-img-ring {
        background: #fff;
        width: 110px;
        height: 110px;
        top: 35px;
        position: relative;
        &:after {
            content: none;
        }
    }
    .node-img-wrap {
        padding: 0 !important;
        background: url("../images/lead-node-bg.jpg") no-repeat center center;
        .transition(0.3s linear background-size);
        background-size: 100% 100%;
    }
    &:hover .node-img-wrap {
        background-size: 150% 150%;
    }
    .node-img {
        margin: 6px auto !important;
    }
    .node-info-wrap {
        padding: 35px 0 20px;
    }
    .node-name {
        padding: 5px 30px!important;
        .title {
            font-size: 24px !important;
            color: #333333;
            line-height: 36px;
        }
        .email {
            font-size: 14px;
            color: @brand-primary;
        }
    }
}

.org-chart-lead {
    background: @body-bg-color;
    position: relative;
    top: 109px;
    z-index: 4;
    // padding-bottom: 40px;
    &:after {
        content: '';
        width: 2px;
        height: 53px;
        background: rgb(43, 180, 232);
        position: absolute;
        left: 50%;
        bottom: 0;
    }
}

.org-chart-wrap {
    top: -60px;
    position: relative;
}

.org-chart-sub {
    .mCustomScrollBox > .mCSB_scrollTools {
        opacity: 1 !important;
    }
    .mCSB_dragger {
        display: none !important;
    }
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    display: block;
    position: absolute;
    width: 20px;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    height: 260px;
    width: 40px;
    opacity: 1;
    z-index: 3;
    top: -280px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft:after {
    content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 70px;
    top: 40%;
    left: 15%;
    position: absolute;
    font-weight: normal;
    opacity: 0.8;
    color: @gray-light;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    .mCSB_buttonLeft:hover:after {
        opacity: 1;
        color: @brand-primary;
    }
    .mCSB_buttonRight:hover:after {
        opacity: 1;
        color: @brand-primary;
    }
    .mCSB_buttonRight:after {
        content: "\f105";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 70px;
        top: 40%;
        left: 15%;
        opacity: 0.8;
        position: absolute;
        font-weight: normal;
        color: @gray-light;
    }
}


/***************************************************/

.google-visualization-orgchart-node {
    min-width: 200px!important;
    .transition(0.5s linear all);
}

table.node-table {
    width: 100%;
    border-collapse: collapse;
}

td.node-img-wrap {
    text-align: center;
    // width: 25%;
    position: relative;
}

td.node-info-wrap {
    /*  border-left: 1px solid #565656;*/
    padding: 0;
    text-align: center;
    width: 75%;
}

.lead {
    td.node-info-wrap {
        background: #fff;
    }
}

td.node-info-wrap table {
    width: 100%;
}

td.node-img-wrap i {
    background: rgb(43, 180, 232);
    border-radius: 100%;
    width: 26px;
    height: 26px;
    color: rgb(255, 255, 255);
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    bottom: -5px;
    position: absolute;
    right: -5px;
    cursor: pointer;
    z-index: 1;
    border: 3px solid rgb(255, 255, 255);
}

.node-name .title {
    font-size: 14px!important;
    line-height: 22px;
    padding: 0;
    font-weight: 600;
    color: @brand-primary;
    white-space: nowrap;
}

.node-name .detail {
    font-size: 12px;
    color: #000;
    line-height: 20px;
    padding: 0;
    white-space: nowrap;
}

td.node-img-wrap i:hover {
    background: @brand-secondary;
}

.org-chart {
    // padding: 50px 0 0;
}

td.node-email:after {
    content: '';
    background: #fff;
    border: 2px solid #565656;
    width: 9px;
    height: 9px;
    position: absolute;
    right: 0;
    border-radius: 15px;
    top: -5px;
}

td.node-email {
    position: relative;
}

.stat-panel-number {
    font-size: 34px;
}

.training-done {
    background: @brand-primary;
    color: @panel-default-text;
}

.training-days {
    background: @brand-success;
    color: @panel-default-text;
}

.avg-training-days {
    background: @brand-secondary;
    color: @panel-default-text;
}


/******************* head count page  *********************/

.head-count {
    font-size: (@font-size-base + 32);
    font-family: @headings-font-family;
}

.head-count-part.h5 {
    font-family: @headings-font-family;
}

.head-count-part {
    font-family: @headings-font-family;
}

.head-count-title {
    font-size: (@font-size-base + 18);
    font-family: @headings-font-family;
    color: #fff;
    margin: 15px 0;
    opacity: 0.6;
}


/******************** filter section *******************/

.filter-section {
    position: absolute;
    z-index: 3;
    .transition(0.3s linear all);
    .well {
        opacity: 0;
        .transition(0.3s linear all);
        width: 0;
    }
    &.active {
        z-index: 9;
        .well {
            opacity: 1;
            width: 100%;
        }
    }
}

.filter-click {
    position: absolute;
    top: 0px;
    left: -52px;
    .transition(0.3s linear left);
    &.active {
        left: -37px;
    }
}

.filter-area {
    position: relative;
    overflow: hidden;
}

.panel .col-sm-push-0 {
    left: 0;
}

.panel .col-sm-pull-0 {
    right: 0;
}


/******************** filter-search***********************/

.filter-section-search {
    position: absolute;
    z-index: 3;
    .transition(0.3s linear all);
    &.active {
        z-index: 9;
    }
}

.filter-click-search {
    position: absolute;
    top: 0px;
    left: -105px;
    .transition(0.3s linear left);
    &.active {
        left: -51px;
    }
}

.filter-search.active {
    left: -36px;
}


/******************** Download btn***********************/

.download-section {
    position: absolute;
    z-index: 3;
    .transition(0.3s linear all);
    &.active {
        z-index: 9;
    }
    .download-icons {
        text-align: center;
        i {
            font-size: 35px;
            margin: 0 9px;
            &.download-pdf {
                color: @brand-danger;
            }
            &.download-image {
                color: @brand-primary;
            }
            &.download-excel {
                color: @brand-success;
            }
        }
    }
    .download-click {
        position: absolute;
        top: 0px;
        right: -52px;
        .transition(0.3s linear left);
        &.active {
            right: -36px;
        }
    }
}


/****************** ripple effact *****************/

.btn {
    overflow: hidden;
    position: relative;
}

.drop {
    height: 56px;
    width: 56px;
    display: block;
    position: absolute;
    background: #fff;
    opacity: 0.5;
    border-radius: 90%;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    &.animate {
        -webkit-animation-name: ripple;
        -webkit-animation-duration: 0.65s;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: ripple;
        -moz-animation-duration: 0.65s;
        -moz-animation-timing-function: linear;
        animation-name: ripple;
        animation-duration: 0.65s;
        animation-timing-function: linear;
    }
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        border-radius: 90%;
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        border-radius: 90%;
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        border-radius: 90%;
    }
}

.drop-menu {
    height: 100px;
    width: 100px;
    display: block;
    position: absolute;
    background: #fff;
    opacity: 0.5;
    border-radius: 90%;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    &.animate {
        -webkit-animation-name: ripple_big;
        -webkit-animation-duration: 0.4s;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: ripple;
        -moz-animation-duration: 0.4s;
        -moz-animation-timing-function: linear;
        animation-name: ripple;
        animation-duration: 0.4s;
        animation-timing-function: linear;
    }
}

@-webkit-keyframes ripple_big {
    100% {
        opacity: 0;
        -moz-transform: scale(4.5);
        -webkit-transform: scale(4.5);
        transform: scale(4.5);
        border-radius: 100%;
    }
}

@-moz-keyframes ripple_big {
    100% {
        opacity: 0;
        -moz-transform: scale(4.5);
        -webkit-transform: scale(4.5);
        transform: scale(4.5);
        border-radius: 100%;
    }
}

@keyframes ripple_big {
    100% {
        opacity: 0;
        -moz-transform: scale(4.5);
        -webkit-transform: scale(4.5);
        transform: scale(4.5);
        border-radius: 100%;
    }
}


/******************* training box *********************/

.training-box-defult {
    border-radius: @training-border-radius;
    margin-bottom: 35px;
    overflow: hidden;
    display: block;
    .detail {
        text-align: right;
        padding-right: 15px;
        position: absolute;
        right: 15px;
        .number {
            color: @training-font-color;
            font-size: @detail-font-size;
            font-weight: 600;
            line-height: 45px;
            padding-top: 25px;
        }
        .desc {
            color: @training-font-color;
            font-size: @traing-desc-font-size;
            font-weight: 500;
            opacity: @traning-desc-opacity;
            text-transform: uppercase;
        }
    }
}

.visual {
    font-size: @training-font-size;
    height: @traning-visual-height;
    width: @traning-visual-width;
    float: left;
    padding-left: 15px;
    i {
        color: @training-font-color;
        opacity: @traning-box-opacity;
        font-size: @traning-icon-size;
        line-height: 110px;
        margin-left: -35px;
        margin-top: 35px;
    }
}

.training-box-primary {
    background: @training-box-primary;
    .visual {
        background: @visual-primary;
    }
}

.training-box-1 {
    background: @training-box-1;
    .visual {
        background: @visual-1;
    }
}

.training-box-2 {
    background: @training-box-2;
    .visual {
        background: @visual-2;
    }
}

.training-box-3 {
    background: @training-box-3;
    .visual {
        background: @visual-3;
    }
}


/******************* count box *********************/

.count-box-defult {
    border-radius: @count-border-radius;
    margin-bottom: 25px;
    overflow: hidden;
    display: block;
    .detail {
        width: @count-detail-width;
        text-align: center;
        .number {
            color: @count-font-color;
            font-size: @count-detail-font-size;
            font-weight: 500;
            line-height: 45px;
            padding-top: 0px;
        }
        .desc {
            color: @count-font-color;
            font-size: @count-desc-font-size;
            padding-top: 30px;
            font-weight: 400;
            opacity: @count-desc-opacity;
            text-transform: uppercase;
        }
    }
    .visual {
        font-size: @count-font-size;
        height: @count-visual-height;
        width: @count-visual-width;
        padding: 0;
        text-align: center;
        i {
            opacity: 1;
            font-size: @count-icon-size;
            line-height: 110px;
            margin-left: 0;
            margin-top: 0;
        }
    }
}

.count-box-varient(@box-color) {
    background: @box-color;
    .visual {
        background: lighten(@box-color, 10%);
        i {
            color: @box-color;
        }
    }
}

.count-box-aqua {
    .count-box-varient(@aqua);
}

.count-box-lightcoral {
    .count-box-varient(@lightcoral);
}

.count-box-lightgreen {
    .count-box-varient(@lightgreen);
}

.count-box-purple {
    .count-box-varient(@purple);
}

.count-box-primary {
    .count-box-varient(@brand-primary);
}

.count-box-success {
    .count-box-varient(@brand-success);
}

.count-box-warning {
    .count-box-varient(@brand-warning);
}

.count-box-danger {
    .count-box-varient(@brand-danger);
}

.count-box-secondary {
    .count-box-varient(@brand-secondary);
}

.count-box-info {
    .count-box-varient(@brand-info);
}


/******************* dashboard ********************/

.lightcoral-font {
    color: @lightcoral;
}

.aqua-font {
    color: @aqua;
}

.dashboard {
    // &.birthday-wrap {
    //     height: 346px;
    // }
    // &.joinee-wrap {
    //     height: 346px;
    // }
    .time-area {
        font-size: @hrs-font-size;
        position: absolute;
        top: -15px;
    }
    .number {
        font-size: @hrs-font-size;
    }
    .profit-line {
        color: #999999;
        i {
            margin-right: 5px;
        }
    }
    .lagend-table {
        &.lagend-inline {
            ul li {
                float: left;
                width: 50%;
            }
        }
    }
    .dash-chart-wrap {
        height: 120px !important;
        margin-bottom: 0 !important;
        .chart-visual {
            padding-top: 0 !important;
        }
    }
    .divider {
        border-right: solid #ccc 1px;
    }
}

.my-task-tag {
    height: 120px;
    ul {
        li {
            margin: 10px 0;
        }
    }
}

.imp-links {
    ul {
        padding: 0;
    }
    li {
        display: inline-block;
        margin-bottom: 20px;
        a {
            background: #f5f5f5 none repeat scroll 0 0;
            display: block;
            list-style: outside none none;
            padding: 12px 0px 12px 13px;
            border-radius: 3px;
            width: 100%;
            color: #333;
            padding-left: 50px;
            .transition(0.3s linear all);
            &:hover {
                text-decoration: none;
                background: #E4E3E3 none repeat scroll 0 0;
            }
        }
    }
    .imp-icon {
        position: absolute;
        left: 23px;
        top: 7px;
    }
}

.title-icon {
    margin-right: (@margin-right-15 - 5px);
}

.status-block {
    display: inline-block;
    margin-top: 7px;
    .status-title {
        text-align: center;
        font-weight: 500;
        font-size: (@font-size-base);
    }
}

.user-action {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: @brand-danger;
    text-align: center;
    line-height: 19px;
    padding: 6px;
    position: absolute;
    overflow: hidden;
    display: block;
    z-index: 2;
    &.bottom-right {
        right: 20px;
        bottom: 20px;
    }
    &.top-right {
        right: 20px;
        top: 20px;
    }
    i {
        color: #fff;
        font-size: 15px;
    }
}

.lagend-table {
    ul {
        padding: 0;
        li {
            display: block;
            text-align: left;
            margin: 2px 0;
            span {
                border-radius: 0;
                // margin-left: 10px;
            }
        }
    }
}

.status-block {
    display: table-cell;
    margin-top: 7px;
    padding-bottom: 25px;
}

.dashboard-employee {
    .birthday-wrap {
        max-height: 320px;
    }
    .joinee-wrap {
        max-height: 320px;
    }
}

.birthday-wrap {
    max-height: 220px;
    // height: 240px;
    .media-heading {
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        margin-top: 5px;
        .transition(0.3s linear all);
        &:hover {
            font-weight: 500;
        }
        small {
            font-weight: normal;
            font-size: 80%;
        }
    }
    &.has-bg {
        background: url(../images/brithday-bg.png) bottom right;
        background-size: cover;
    }
    .media {
        margin-top: 20px;
    }
    .media:first-child {
        margin-top: 0;
    }
    .media-left img {
        width: 50px;
        height: 50px;
    }
}

.arrow-block {
    cursor: pointer;
    display: inline;
    margin-left: 15px;
    opacity: 0.8;
}

.arrow-block:hover {
    opacity: 1;
}

.joinee-wrap {
    max-height: 220px;
    // height: 240px;
    .media-heading {
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        text-decoration: none;
        color: @gray-darker ;
        margin-top: 5px;
        .transition(0.3s linear all);
        &:hover {
            font-weight: 500;
        }
        small {
            font-weight: normal;
            font-size: 80%;
        }
    }
    &.has-bg {
        background: url(../images/joinee_bg.png) bottom right;
        background-size: cover;
    }
    .media {
        margin-top: 20px;
    }
    .media:first-child {
        margin-top: 0;
    }
    .media-left img {
        width: 50px;
        height: 50px;
    }
}

.dash-chart-panel {
    position: relative;
    .dash-chart-wrap {
        height: 175px;
        margin-bottom: 0px;
        .chart-visual {
            // padding-top: 0px;
        }
    }
}

.dash-chart-wrap-2 {
    margin-bottom: 0px;
    .chart-visual {
        padding-top: 30px;
    }
}

.dashboard-info-block {
    height: 120px;
    .dashboard-info-img {
        text-align: center;
        img {
            width: 120px;
            height: 120px;
            border-radius: 120px;
        }
    }
    .dashboard-info-title ul {
        padding: 0;
        li {
            display: inline-block;
            font-size: 16px;
            position: relative;
            font-weight: 500;
            padding-left: 20px;
            line-height: 30px;
            &:before {
                content: '';
                width: 4px;
                height: 4px;
                border-radius: 4px;
                position: absolute;
                left: 6px;
                top: 15px;
                background: #000;
            }
            &:first-child {
                padding: 0;
                &:before {
                    content: none;
                }
            }
        }
    }
    .dashboard-info-desc {
        font-size: 16px;
        line-height: 24px;
    }
    .dashboard-info-detail {
        height: 120px;
    }
}


/******************** popup for filters ***********************/

.popup-bg {
    display: none;
    background: #000000 none repeat scroll 0 0;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
}


/********************* custome scroller **************/

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}


/********************** profile-header ************************/

.header-profile-img {
    float: left;
    img {
        width: 120px;
    }
}

.header-profile-detail {
    padding-top: 25px;
    float: left;
    .profile-name {
        font-size: 16px;
        text-transform: uppercase;
        line-height: 26px;
        font-weight: 500;
        color: @gray-dark;
    }
    .profile-desig {
        font-size: 14px;
        color: @gray-light;
    }
    .profile-email {
        font-size: 14px;
        a {
            color: @gray-light;
        }
    }
}

.profile-info-detail-varient(@color) {
    color: @color;
    width: @profile-info-size;
    height: @profile-info-size;
    border-radius: 100%;
    border: 1px solid @color;
    line-height: @profile-info-size;
    font-size: @profile-info-font-size;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
    background: lighten(@color, 25%);
    display: inline-block;
}

.profile-info-table {
    margin: 25px 10px;
    float: right;
    tr td {
        font-size: 14px;
        padding: 0px 15px;
    }
    .profile-info-title {
        font-weight: 400;
        color: @gray-light;
        white-space: nowrap;
    }
    .profile-info-detail {
        &.aqua {
            .profile-info-detail-varient(@aqua);
        }
        &.lightcoral {
            .profile-info-detail-varient(@lightcoral);
        }
        &.lightgreen {
            .profile-info-detail-varient(@lightgreen);
        }
        &.purple {
            .profile-info-detail-varient(@purple);
        }
        &.hotpink {
            .profile-info-detail-varient(@hotpink);
        }
        &.gold {
            .profile-info-detail-varient(@gold);
        }
        &.turquoise {
            .profile-info-detail-varient(@turquoise);
        }
        &.lightskyBlue {
            .profile-info-detail-varient(@hotpink);
        }
    }
}

.company-filter {
    top: 27px;
}

.header-area {
    margin-bottom: 15px;
}


/********************* tab focus ******************************/

.tab-focus() {
    // Default
    outline: thin dotted; // WebKit
    outline-offset: -2px;
    outline: none;
}


/********************* chart popup ******************************/

.chart-detail {
    display: none;
}


/********************* .floating-button-menu ******************************/

.floating-button {
    bottom: 20px;
    position: fixed;
    right: 30px;
    z-index: 3;
    a.btn-floating-main {
        border-radius: @floating-size;
        color: #ffffff;
        cursor: pointer;
        display: block;
        font-size: (@floating-font-size + 5px);
        height: (@floating-size + 10px);
        line-height: (@floating-size + 10px);
        width: (@floating-size + 10px);
    }
    .sub-floating-button {
        bottom: 50px;
        position: absolute;
        right: 5px;
        display: none;
        .btn-floating-wrap {
            display: none;
            a.btn-floating {
                border-radius: @floating-size;
                color: #ffffff;
                cursor: pointer;
                display: block;
                font-size: @floating-font-size;
                height: @floating-size;
                line-height: @floating-size;
                margin-bottom: 15px;
                width: @floating-size;
                position: relative;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}


/********************* KRA ******************************/

.kra .header-area {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.filter-area.side-on {
    overflow: visible;
}

.content-scroll {
    max-height: 280px;
}

.box-border {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 15px 0;
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        margin-bottom: 10px;
    }
    li:nth-child(3n+1) {
        clear: both;
    }
    .checkbox {
        margin-top: 0;
    }
}

.top-bar {
    margin-bottom: 15px;
}

.form-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 65px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    .transition(0.3s linear all);
    z-index: 2;
}

// .active .form-footer {
//     padding-left: 315px;
//     .transition(0.3s linear all);
// }
.auto-width-tooltip .tooltip {
    white-space: nowrap;
}

.top-breadcrumb {
    float: right;
    .breadcrumb {
        padding: 0;
        background-color: transparent;
        li a {
            padding: 8px 15px;
            display: block;
        }
    }
}

.common-table-style {
    .table-primary {
        border-top: 0;
        &.table th {
            border-top: 1px solid #243955;
            background-color: #273C5A;
            color: #fff;
            padding: 15px;
            &.sorting:after,
            &.sorting_asc:after,
            &.sorting_desc:after,
            &.sorting_asc_disabled:after,
            &.sorting_desc_disabled:after {
                bottom: 10px;
            }
            &.sorting:before,
            &.sorting_asc:before,
            &.sorting_desc:before,
            &.sorting_asc_disabled:before,
            &.sorting_desc_disabled:before {
                bottom: 20px;
            }
        }
        &.table tr:first-child th:first-child {
            background-color: #273C5A;
        }
        &.table tr td:first-child {
            background-color: rgba(49, 75, 112, 0.93);
            color: #fff;
            border-top: 1px solid #243955;
            font-weight: 500;
            font-size: 16px;
        }
        &.table tr:nth-child(even) {
            background-color: rgba(39, 60, 90, 0.11);
        }
        &.table td {
            padding: 15px;
        }
    }
    .table {
        th {
            border-bottom: 0;
            color: #565656;
            font-weight: 500;
            background-color: #eceef2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        &.dataTable > tr:first-child > th {
            border-top: 0;
        }
        &.common-table {
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        &.simple-table {
            margin: 0 0 20px !important;
        }
    }
}

table.common-table {
    border-collapse: unset;
}

.btn-margin-right {
    margin-right: 50px;
}

.text-link {
    color: #d9534f;
}

.additional-support-wrapper h3 {
    font-size: 14px;
    margin: 0 0 10px 0;
}

.equal-height {
    min-height: 100px;
}

.support-info-control {
    margin-top: 10px;
}

.box-margin {
    margin-bottom: 15px;
}

.common-accordian-style .panel {
    box-shadow: none;
}

.common-accordian-style .panel-heading {
    background-color: #f1f2f0;
}

.my-tag {
    .label {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }
}

.department-wrapper .status-block {
    display: inline-block;
}

.department-wrapper .count-box-defult {
    margin: 0;
}

.department-wrapper .panel-title {
    font-size: 14px;
}

.pending-detail {
    max-width: 150px;
    width: 100%;
    color: #fff;
    margin: 0 auto;
    padding: 13px 0;
    text-align: right;
    ;
    .title {
        font-size: 14px;
        text-align: center;
    }
    p {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
}

.role-area {
    .box-border {
        li:nth-child(3n+1) {
            clear: none;
        }
        li {
            margin-bottom: 0;
        }
    }
}


/**************************** editable table **********************/

.edit-column {
    position: relative;
    padding: 0 35px 0 0px;
    line-height: 26px;
    display: inline-block;
    &.with-status {
        padding-left: 20px;
    }
    .btn-link {
        width: 25px;
        height: 25px;
        background: #314B70;
        border-radius: 25px;
        line-height: 12px;
        color: #fff;
        margin-left: 5px;
        position: absolute;
        right: 0;
        top: 0px;
        display: none;
        i {
            font-size: 12px;
            margin: 0;
        }
    }
    &:hover .btn-link {
        display: block;
    }
    .status-ico {
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 18px;
    }
}


/********************* copy-right ******************************/

footer {
    text-align: center;
    position: absolute;
    bottom: 62px;
    z-index: 99999;
    width: 100%;
    height: 40px;
    overflow: hidden;
    .copy-right-section {
        color: @brand-primary;
        display: none;
        opacity: 0;
        .transition(0.7s linear all);
    }
    .copy-right-c {
        color: @brand-primary;
        display: block;
        font-size: 24px;
        opacity: 1;
        .transition(0.7s linear all);
    }
}

.active {
    .copy-right-c {
        display: none;
        opacity: 0;
        .transition(0.7s linear all);
    }
    .copy-right-section {
        display: block;
        opacity: 1;
        .transition(0.7s linear all);
    }
}

.overview-filter .form-horizontal .control-label {
    padding-top: 0;
}

.common-tabs-style .nav-tabs > li.active > a {
    background-color: #f6f6f6;
}

.common-tabs-style .tab-content {
    padding: 20px 0;
}


/*******************badge*********************/

.badge-varient (@font-weight,
@color,
@line-height,
@bg,
@border-radius,
@link-hover-color) {
    display: inline-block;
    min-width: 20px;
    padding: 4px 4px;
    font-size: @font-size-small;
    font-weight: @font-weight;
    color: @color;
    line-height: @line-height;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: @bg;
    border-radius: @border-radius;
    &:hover,
    &:focus {
        color: @link-hover-color;
        text-decoration: none;
        cursor: pointer;
    }
}

.badge-danger {
    .badge-varient(500,
    #fff,
    @badge-line-height,
    @brand-danger,
    @badge-border-radius,
    @badge-link-hover-color);
}

.badge-white {
    .badge-varient(500,
    #000,
    @badge-line-height,
    #fff,
    @badge-border-radius,
    @badge-link-hover-color);
}


/********************** dragging *******************/

.dragging {
    cursor: move;
}

.droparea {
    border: 1px dashed #666;
    min-height: 30px;
    visibility: visible !important;
    display: block;
}


/******************** font icons list *******************/

.fontawesome-icon-list {
    margin-bottom: 20px;
    .fa-hover {
        font-size: 16px;
        div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            color: @brand-primary;
            line-height: 32px;
            height: 32px;
            padding-left: 10px;
            border-radius: 4px;
            cursor: pointer;
            .transition(0.2s linear all);
            .fa {
                width: 32px;
                font-size: 16px;
                display: inline-block;
                text-align: right;
                margin-right: 10px;
            }
        }
        div:hover {
            background-color: @brand-primary;
            color: #fff;
            text-decoration: none;
            .fa {
                font-size: 28px;
                vertical-align: -6px;
            }
        }
    }
}


/******************** responsive ***********************/

@media screen and (min-width:1400px) {
    .login-wrapper .container {
        width: 1560px;
    }
}

@media (max-width:1024px) {
    .login-box {
        input {
            font-size: 13px;
        }
    }
}

@media screen and (min-width:1280px) and (max-width:1399px) {
    .quote {
        font-size: 1.6em;
        padding-top: 30%;
        blockquote {
            font-size: 28px;
        }
    }
    .copy-right {
        font-size: 18px;
    }
    .logo img {
        height: 50px;
        width: 180px;
    }
    .login-links {
        min-height: auto;
        .login-box {
            padding: 5% 10% 25%;
            margin-top: 43%;
            width: 73%;
            .forgot-password {
                font-size: 18px;
            }
            .login-text {
                font-size: 25px;
                margin-bottom: 15px;
            }
            input {
                font-size: 13px;
                padding: 11px 15px 7px;
            }
            .login-btn {
                font-size: 14px;
                padding: 7px 0;
            }
        }
    }
    /**************** circle progressbar dashboard **************/
    .employee-status {
        .c100 {
            font-size: 70px;
            margin: 10px;
        }
    }
    /******************** training box ***********************/
    .detail {
        .desc {
            font-size: (@training-font-size - 18px); //17px}
        }
        .visual {
            i {
                font-size: (@training-font-size + 75px); //110px}
            }
        }
    }
    /******************** dashboard front box ***********************/
    .profile-info-table {
        tr {
            td {
                padding: 0 10px;
            }
        }
    }
    .department-wrapper .status-block .status-title {
        font-size: 13px;
    }
}

@media screen and (min-width:768px) and (max-width:1279px) {
    .count-box-defult {
        .visual {
            height: 115px;
        }
    }
    .quote {
        padding-top: 20%;
    }
    .login-links {
        .login-box {
            margin: 50% auto 0;
            padding-bottom: 60%;
            .login-btn {
                width: 48%;
                font-size: 14px;
            }
        }
    }
    /******************** training box ***********************/
    .visual {
        width: (@traning-visual-width - 10%);
        i {
            font-size: @training-font-size + 75px; //100px}
        }
        .dashboard-stat .details .desc {
            font-size: @training-font-size + 17px; //18px;}
        }
    }
}

@media screen and (min-width:768px) {
    /****************** menu ********************/
    .selector-button-mobile-nav {
        padding: 0;
        color: @brand-primary;
    }
    .selector-button-menu {
        margin-left: 10px;
        .transition(0.2s linear all);
        &.active {
            margin-left: 140px;
            .transition(0.2s linear all);
        }
    }
    .innerpage-wrap {
        padding-left: 50px;
        .transition(0.3s linear padding-left);
        // &.active {
        //     padding-left: 300px;
        // }
    }
    .table.dataTable {
        margin: 20px 0!important;
    }
    .staped-form {
        text-align: center;
        font-size: (@font-size-base + 4);
        // padding-top: @padding-large-horizontal;
        // padding-bottom: (@padding-large-horizontal * 2.5);
        .steps .step-number {
            width: 35px;
            height: 35px;
            line-height: 35px;
            margin: 5px 10px;
        }
    }
    .border-right {
        border-right: 1px solid @hr-border;
    }
    /********************** table ****************/
    .paggin-wrap {
        display: inline-block;
    }
    .jump-wrap {
        display: inline-block;
        float: right;
    }
}

@media (max-width:991px) {
    .download-icons {
        i {
            font-size: 30px;
            margin: 0 2px;
        }
    }
    .profile-info-table {
        float: none;
        margin: 0 auto;
    }
    .header-profile-img {
        float: none;
    }
    .header-profile-detail {
        text-align: center;
        margin-bottom: 30px;
    }
    .profile-info-table tr td {
        padding-bottom: 20px;
    }
}

@media (max-width:767px) {
    .logo {
        text-align: center;
        padding-top: 20px;
    }
    .quote {
        display: none;
    }
    .page {
        overflow: hidden;
    }
    .header-profile-detail {
        text-align: center;
    }
    .login-links {
        margin: 10% auto;
        .login-box {
            margin: 0%;
            width: 100%;
            background: none;
            border: none;
            .login-text {
                margin-bottom: 20px;
                text-align: center;
            }
            button {
                margin-top: 0;
            }
            .login-btn {
                width: 49%;
            }
            .cancel-btn {
                margin-left: 0;
            }
        }
    }
    .copy-right {
        bottom: -18px;
        color: #cccccc;
        position: absolute;
        right: 0;
        text-align: center;
        width: 100%;
    }
    .side-navigation-container {
        .selector-button {
            top: 20px;
            height: 40px;
            left: -40px;
            width: 40px;
        }
        .selector-button.fa-chevron-left:before {
            line-height: 40px;
            padding-left: 10px;
        }
    }
    #cssmenu ul li ul li::before {
        margin-top: 17px;
    }
    #cssmenu ul li ul li a {
        padding: 15px 20px 15px 54px;
    }
    #cssmenu ul li ul ul li a {
        padding: 15px 20px 15px 85px;
    }
    .filter-section .well {
        opacity: 0;
        .transition(0.3s linear opacity);
    }
    .filter-section.active .well {
        opacity: 1;
    }
    .filter-click.active {
        display: none;
    }
    .filter-area {
        position: relative;
        overflow: visible;
    }
    .filter-section-search .well {
        opacity: 0;
        .transition(0.3s linear opacity);
    }
    .filter-section-search.active .well {
        opacity: 1;
    }
    .filter-click-search.active {
        display: none;
    }
    .filter-close {
        left: 13px;
        padding: 5px;
        position: relative;
        top: -13px;
    }
    .filter-close-search {
        left: 13px;
        padding: 5px;
        position: relative;
        top: -13px;
    }
    .filter-section {
        position: absolute;
        z-index: 3;
    }
    .filter-section.active {
        left: 0;
        z-index: 20;
    }
    .filter-section-search.active {
        left: 0;
        z-index: 20;
    }
    .download-section.active {
        left: 0;
        z-index: 20;
    }
    .download-section .well {
        opacity: 0;
        .transition(0.3s linear opacity);
    }
    .download-section.active .well {
        opacity: 1;
    }
    .download-click.active {
        display: none;
    }
    .download-close {
        left: 13px;
        padding: 5px;
        position: relative;
        top: -13px;
    }
    /****************** inner page common ********************/
    .innerpage-wrap {
        overflow-x: hidden;
    }
    .popup-bg.active {
        display: block;
    }
    /****************** training box ********************/
    .training-box-defult {
        .visual {
            background: none;
        }
    }
    /****************** menu ********************/
    .nav {
        margin: 0 0px;
        li {
            display: inline-block;
        }
        .visible-xs {
            display: inline-block;
        }
        li a .fa-2x {
            font-size: 1.4em;
        }
    }
    .brand-logo {
        img {
            max-width: 100%;
        }
    }
    .header-icon {
        padding: 10px 0;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    /******************* KRA module *******************/
    .form-footer {
        padding-left: 15px;
    }
    .active {
        .form-footer {
            padding-left: 15px;
        }
    }
    .top-bar .input-group {
        margin-bottom: 15px;
    }
    /***************** panel ****************/
    .panel {
        .btn {
            i {
                margin: 0;
            }
        }
    }
    .header-profile-img {
        float: none;
    }
    .profile-info-table .profile-info-title {
        white-space: nowrap;
    }
    .dashboard-info-block {
        height: auto;
        .dashboard-info-detail {
            height: auto;
        }
    }
    /***************** dashboard ****************/
    .dashboard {
        .divider {
            border-right: none;
            border-bottom: solid 1px #ccc;
            padding: 15px 0;
        }
    }
}

@media (max-width:480px) {
    /****************** training box ********************/
}
